.footer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #ffffff; /* Texto blanco */
  font-size: 1rem;
}

.footer p {
  margin: 0.25rem 0;
  line-height: 1.6;
  opacity: 0.8; /* Opacidad para un toque más sutil */
}

@media (max-width: 768px) {
  .footer {
    margin-top: 3rem;
    font-size: 0.9rem;
  }
}
